@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
input,
select,
button,
option {
    font-family: 'Inter', sans-serif;
    background-color: #09090B;
    color: #FAFAFA;

    letter-spacing: -0.02em;
}

body {
    font-size: 1.6rem;
}

#app {
    padding: 4rem 2rem;
    margin-inline: auto;
    max-width: 32rem;
}

#place {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 2.2rem 1.6rem;
    margin-bottom: 3.2rem;

    font-size: 1.4rem;
}

input,
select {
    all: unset
}

input,
select,
button {
    width: 100%;
}

.fields {
    display: grid;
    gap: 8px;
}

.field-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;

    padding: 1.8rem;
    background-color: #09090B;
    border: 1px solid #27272A;
    border-radius: 8px;
}

.field-wrapper:focus-within {
    outline: 2px solid yellowgreen;
}

button {
    margin-top: 1.2rem;
    border: none;
    padding: 1.2rem 2rem;
    background-color: #AFF445;
    color: #132F00;

    border-radius: 8px;

    font-weight: 500;
    font-size: 1.6rem;
}

.card-bg {
    background: #18181B;

    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03), inset 0px 1px 0px rgba(255, 255, 255, 0.03);
    border-radius: 12px;
}

main {
    margin-top: 3.2rem;
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 2.4rem;

    margin-bottom: 2.4rem;
}

section {
    display: grid;
    gap: 1rem;
}

section input[type="checkbox"] {
    inset: 0;
    position: absolute;
}

section .card-bg:has(:checked) .active,
section .card-bg .inactive {
    display: block;
}

section .card-bg:has(:checked) .inactive,
section .card-bg .active {
    display: none;
}

section .card-bg {
    padding: 1rem 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

section .card-bg>div {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

time {
    font-size: 1.4rem;
    color: #A1A1AB;
    text-align: right;
}

time.full {
    display: none;
}

@media (width > 1024px) {
    #app {
        display: flex;
        max-width: 96rem;
        gap: 3.2rem;
    }

    main {
        margin-top: 0;
        flex: 1;
    }

    h1 {
        text-align: left;
    }

    time.full {
        display: block;
    }

    time.short {
        display: none;
    }

    section .card-bg {
        padding-block: 1.6rem;
    }
}

section .card-bg {
    animation: smooth-appear 800ms;
}

@keyframes smooth-appear {
    from {
        opacity: 0;
    }
}